* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Montserrat", sans-serif;
    background: linear-gradient(65deg, #B3E2A7, #80B9AD, #6295A2, #538392);
    margin: 20px;
    padding: 10px;
}

h1 {
    color: #9cf5c1;
    padding: 20px;
    text-align: center;
}

.texto {
    padding: 20px;
    margin: 30px;
    text-align: center;
    background-color: rgba(127, 225, 255, 0.212);
    box-shadow: 10px 10px 5px lightblue;

}

.texto1 {
    padding: 20px;
    text-shadow: 2px 2px #00a2ff9f;
    text-align: end;
}

button {
    padding: 10px;
    margin: 10px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #80B9AD;
    color: white;
}

#btn-submit {
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 4px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

#btn-reset {
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 4px;
}

#btn-return {
    font-size: 16px;
    padding: 12px 28px;
    border-radius: 4px;
}